@page "/"

<PageTitle>Home</PageTitle>
<Test />
<Test />
<Test />
<Test />
<Test />

<h1>Hello, world!</h1>

<h1>Hello, world2!</h1>

<h1>Hello, world3!</h1>

<h1>Hello, world4!</h1>

<h1>Hello, world5!</h1>


@for (int i = 0; i < 10; i++)
{
    <p>Hello</p>
}

@for (int i = 0; i < 100; i++)
{
    <p>Hello</p>
}

<h1>Hello, world again!</h1>
<h1>Hello, world again2</h1>
<h1>Hello, world again3</h1>

<p>Some code</p>
<p>Some code 2</p>

Welcome to your new app.
